<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://TU_PROYECTO.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>TU_ANON_KEY</string>
	<key>GCP_PROJECT_ID_API</key>
	<string>TU_IOS_CLIENT_ID.apps.googleusercontent.com</string>
	<key>GOOGLE_WEB_CLIENT_ID</key>
	<string>TU_WEB_CLIENT_ID.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_SECRET</key>
	<string>TU_CLIENT_SECRET_GOOGLE</string>
</dict>
</plist>
